body {
  max-width: 1000px;
  margin: 0 auto;
  background: #212b2d;
}

ul {
  padding: 0;
}

.header {
  width: 100%;
  position: relative;
}

.header--image--container {
  width: 100%;
  position: relative;
  height: 50%;
}

.header--image {
  max-width: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}

.header--text--image {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
}

.header--text--image > h1 {
  font-size: 3rem;
}

.header--text--image > p {
  font-size: 2rem;
}

.main {
  width: 100%;
  color: white;
}

.main--nav--ul--list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background: #333d3f;
  padding: 1rem 0;
}

.main--nav--ul--list > li {
  margin: 0 auto;
  position: relative;
  padding-left: 4.2%;
}

.main--nav--ul--list > li > a {
  text-decoration: none;
  color: white;
}

.main--nav--ul--list > li > a:hover {
  text-decoration: none;
  color: orange;
}

.main--nav--ul--list li + li::before {
  border-left: 1px solid black;
  position: absolute;
  content: "";
  left: 0;
  background-color: white;
  height: 70%;
  width: 2px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.grid--wrapper {
  display: grid;
  grid-template-columns: 25% 32% 32%;
  column-gap: 5%;
}

.main--menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column: 1;
  grid-row: 1;
}

.main--menu--h2 {
  font-size: 1rem;
}

.main--menu--ul {
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
  text-decoration: underline;
}

.gallery {
  grid-column: 2 / 4;
  grid-row: 1;
}

.gallery--h2 {
  position: relative;
  padding: 0.7rem 0;
}

.gallery--h2:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
}

.block {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 2;
}

.block--head--text > p {
  display: flex;
  flex-wrap: wrap;
}

.subscription {
  display: flex;
  flex-direction: column;
  grid: 2 / 2;
}

.btn--primary {
  padding: 0.5rem 1rem;
}

.other-services {
  display: flex;
  flex-direction: column;
  grid: 3 /2;
  position: relative;
  padding-left: 20px;
}

.other-services:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: white;
  left: 0;
}

.footer {
  padding-top: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.footer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
}

.footer--text {
  padding: 0.5rem 0 2rem 0;
  color: white;
}

.form--application--socials {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.form--application--btn {
  color: white;
}
