.header--menu--list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.header--menu--list > li + li {
  margin-left: 2rem;
}

.image--container {
  width: 35%;
}

.image--container--width {
  max-width: 100%;
  object-fit: cover;
}
